@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Esse projeto tem como função, aprender sobre Entity, MVC e derivados.</p>
<p>Aluno @ViewData["Aluno"]</p>

<address>
    <strong>Redes: </strong> 
    <strong>Site: </strong><a href="https://dzenvolvedor.com/"> O DZenvolvedor</a><br />
    <strong>GitHub: </strong><a href="https//github.com/diogozmm"> Git</a><br />

</address>
